<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="text-center">
    <div class="jumbotron">
        <h1 class="display-4"> SSControl v1.0</h1>
        <p class="lead">This is a simple web app for controlling the W&W Film Scanner 100.</p>
        <p>-Use the controls below to move things... Yeah!</p>

        <hr class="my-4">

        <a class="btn btn-primary btn-lg btn-block" href="next" role="Button">Next Frame</a>
        <a class="btn btn-primary btn-lg btn-block" href="back" role="Button">Last Frame</a>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="stb1" role="Button">Step Back</a>
        <a class="btn btn-warning btn-lg" href="lamp" role="Button">Lamp</a> 
        <a class="btn btn-primary btn-lg" href="stf1" role="Button">Step Foward</a>


     </div>

    </body>
</html>
